html,
body {
  min-height: 100%;
}

* {
  -webkit-overflow-scrolling: touch;

  /* scrollbar-width: 'none' !important; */

  /* animation-duration: 150ms !important; */

  /* transition-duration: 150ms !important; */
}

/* *::-webkit-scrollbar {
  display: 'none' !important;
  width: 0;
} */
